*{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}
.heading{
  font-size: 40px;
}
.welcome{
  margin: 5px;
  font-size: 35px;
}
.app__form{
  padding: 20px;
  bottom: 0;
  margin: auto;
  width: 90vw;
  height: 2.5rem;
  background-color: rgb(210, 212, 214);
  
}

.app__formControl{
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.app__iconButton{
  flex: 0;
}
.app__input{
  flex: 1;
}

.message-container{
  height: 67vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 92vw;
  margin: auto;
}

.message-container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  margin: 0;
  background-color: #f5f5f5;
}

/* Define the handle of the scrollbar */
.message-container::-webkit-scrollbar-thumb {
  background-color: #cecccc;
  border-radius: 5px;
}
.sendIcon{
  font-size: 40px !important;
}